

*{
  margin:0;
  padding: 0;
  
}
.app{
  min-height: 100vh;
  max-height: auto;
  background-color: #1e1e1e;
  width: 100%;
  
}

 
.result{
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 21%;
  gap: 880px;
  overflow-x: auto;
  overscroll-behavior-inline: contain;
  color: beige;

}

.icons{
  padding: 40px 25px 40px 25px;
  border: 5px solid red;
}



img{
  width: 1620px;
  height: 180px;
  object-fit: cover;
  padding: 0.75rem;
  
}