

*{
  margin:0;
  padding: 0;
  background-color: black;
}
.app{
  min-height: 100vh;
  max-height: auto;
  background-color: #1e1e1e;
  width: 100%;
  
}

 
.result{
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 14%;
  gap: 10px;
  overscroll-behavior-inline: contain;
  color: beige;
  overflow-x: hidden; /* Hide horizontal scrollbar */
  

}

.posterPic {
  width: 100%;
  -webkit-filter: contrast(1.25);
  filter: contrast(1.25);
}

.result:-webkit-scrollbar {
  display: none;
}

.leftButton{
  position: absolute;
  top: 641.5px;
  padding: 129px 20px 129px 20px;
  border: 1px solid red;
  background-color: blue;
  opacity: 0.5;
}

.RightButton{
  padding: 129px 20px 129px 20px;
  border: 1px solid red;
  background-color: blue;
  position: absolute;
  top: 641.5px;
  right: 0px;
  border: 1px solid red;
  background-color: blue;
}

.icons:hover {
  background-color: grey;
}

button {
  color: pink;
}


.overlay {
  width: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
  image-rendering: pixelated
} 

.coverPicture {
  color: white;
  object-fit: coverx;
  width: 100%;
  height: 618px;
}

.coverInfo{
  position: relative;
  top: 30px;
  background-color: transparent;
  
}
h1 {
  background-color: transparent;
}
p{
  background-color: transparent;
  word-wrap: break-word;
  width: 400px;
}