

*{
  margin:0;
  padding: 0;
  background-color: black;
}
.app{
  min-height: 100vh;
  max-height: auto;
  background-color: #1e1e1e;
  width: 100%;
  
}

 
.result{
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 14%;
  gap: 10px;
  overscroll-behavior-inline: contain;
  color: beige;
  overflow-x: hidden; /* Hide horizontal scrollbar */
  

}

.result:-webkit-scrollbar {
  display: none;
}

.leftButton{
  position: relative;
  top: 303px;
  padding: 129px 20px 129px 20px;
  border: 1px solid red;
  background-color: blue;
}

.RightButton{
  padding: 129px 20px 129px 20px;
  border: 1px solid red;
  background-color: blue;
}

.icons:hover {
  background-color: grey;
}

button {
  color: pink;
}

img{
  object-fit: cover;
}